version: '3.9'

services:
  web:
    build: .
    container_name: django_web
    command: python3 manage.py runserver 0.0.0.0:8000 --noreload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=blog_project.settings

